* {
  box-sizing: border-box;
}

.keyPad {
  width: 150px;
  height: 75px;
  border: 1px solid black;
  padding: 2px;
  gap: 2px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.activeKey {
  background-color: greenyellow;
}

#playField {
  width: 500px;
  aspect-ratio: 1/1;
  border: 1px solid black;
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-template-columns: repeat(5, 1fr); */
}
.fieldCol {
  display: grid;
  /* grid-template-rows: repeat(5, 1fr); */
}

.playCell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(189, 189, 189);
}

#playerHead,
.playerSegment,
.fruit {
  border-radius: 50%;
  border: 2px solid black;
  aspect-ratio: 1/1;
  grid-row: 1;
  grid-column: 1;
}

#playerHead,
.playerSegment {
  height: 99%;
}

#playerHead {
  background-color: rgb(255, 194, 80);
}

.playerSegment {
  background-color: rgb(249, 255, 80);
}

.fruit {
  background-color: rgb(230, 47, 72);
  height: 50%;
}
