* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

body > * {
  padding: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  background-color: rgb(186, 205, 248);
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#scoreboard {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.touchPad,
.keyPad {
  border: 1px solid black;
  justify-self: center;
  align-self: center;
  width: 150px;
}

.keyPad {
  height: 75px;
  padding: 2px;
  gap: 2px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#keyUp {
  grid-column: 2 / 3;
}

#keyLeft {
  grid-column: 1 / 2;
}

.touchPad {
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#TouchUp,
#TouchDown {
  grid-column: 2/3;
}
#TouchLeft {
  grid-column: 1/2;
}
#TouchRight {
  grid-column: 3/4;
}

.activeKey {
  background-color: greenyellow;
}

#playField {
  /* width: 500px; */
  max-width: 700px;
  aspect-ratio: 1/1;
  border: 1px solid black;
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-template-columns: repeat(5, 1fr); */
}
.fieldCol {
  display: grid;
  /* grid-template-rows: repeat(5, 1fr); */
}

.playCell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(189, 189, 189);
}

#playerHead,
.playerSegment,
.fruit {
  border-radius: 50%;
  border: 2px solid black;
  aspect-ratio: 1/1;
  grid-row: 1;
  grid-column: 1;
}

#playerHead,
.playerSegment {
  height: 99%;
}

#playerHead {
  background-color: rgb(47, 177, 49);
  width: 99%;
  border: 0;

  border-radius: 0;

  /* border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 75px solid rgb(47, 177, 49); */
}

.facingUp {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.facingDown {
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}
.facingLeft {
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}
.facingRight {
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.playerSegment {
  background-color: rgb(84, 226, 87);
}

.fruit {
  background-color: rgb(230, 47, 72);
  height: 50%;
}
